@import "tailwindcss";

@theme {
    --color-primary: #020618;
    --color-green: #36DE55;
    --color-whiteBackground: #F4F4FE;
    --color-bottomFooter: #323646;
    --color-colorForText: #FFFFFF;

    --text-green: #36DE55;
    --text-customWhite: #f4f4fe;
    --text-customGray: #7A7A7A;
    --text-smallColor: #353846;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Verdana', sans-serif;
    --font-tertiary: 'Inter', sans-serif;

    /*Desktop Sizes*/
    --text-hero: 4rem; 
    --text-header: 2rem;
    --text-largeParagraph: 1.5rem; 
    --text-smallParagraph: 1.3rem;
    /*Mobile Sizes*/
    --text-mobileHero: 2rem;
    --text-mobileHeadline: 1.7rem;
    --text-mobileParagraph: 1rem;



    --breakpoint-sm: 380px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;

}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}



