@import "tailwindcss";

@layer utilities {
  
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-up .9s ease-out both;
  }

  @keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in .9s ease-in;
  }

  @keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.loader-border {
  border: 2px solid transparent;
  border-top-color: white;
  border-radius: 50%;
}

}


@theme {
    --color-primary: #020618;
    --color-green: #36DE55;
    --color-whiteBackground: #F4F4FE;
    --color-bottomFooter: #323646;
    --color-colorForText: #FFFFFF;

    --text-green: #36DE55;
    --text-customWhite: #f4f4fe;
    --text-customGray: #7A7A7A;
    --text-smallColor: #353846;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Verdana', sans-serif;
    --font-tertiary: 'Inter', sans-serif;

    /*Desktop Sizes*/
    --text-hero: 4rem; 
    --text-header: 2rem;
    --text-largeParagraph: 1.5rem; 
    --text-smallParagraph: 1.3rem;
    /*Mobile Sizes*/
    --text-mobileHero: 2rem;
    --text-mobileHeadline: 1.7rem;
    --text-mobileParagraph: 1rem;



    --breakpoint-sm: 380px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;

}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}




