@import "tailwindcss";

@theme {
    --color-primary: #020618;
    --color-green: #36DE55;
    --color-whiteBackground: #F4F4FE;
    --color-bottomFooter: #323646;
    --color-colorForText: #FFFFFF;

    --text-green: #36DE55;
    --text-white: #f4f4fe;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Verdana', sans-serif;

    --text-hero: 4rem; 
    --text-header: 2rem;
    --text-largeParagraph: 1.5rem; /**/
    --text-smallParagraph: 1.3rem;
    --text-base: 0.6rem;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}



