---
const { title = "Paul Jhon Magbanua | Front-End Developer" } = Astro.props;
const description = "I’m Paul Jhon Magbanua, a Front-End Developer skilled in coding, CMS, automation, and CRM management (GoHighLevel). I deliver efficient, creative, and results-driven digital solutions.";
const url = "https://magbanua-pauljhon.website/";
const openGraph = '/images/OpenGraph_PaulMagbanua.png'
---

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home | Paul Jhon Magbanua</title>
<meta name="description" content="I’m Paul Jhon Magbanua, a Front-End Developer skilled in coding, CMS, automation, and CRM management (GoHighLevel). I deliver efficient, creative, and results-driven digital solutions.">
<meta name="robots" content="index, follow">

<!-- Open Graph -->
<meta property="og:title" content="Home | Paul Jhon Magbanua">
<meta property="og:description" content="I’m Paul Jhon Magbanua, a Front-End Developer skilled in coding, CMS, automation, and CRM management (GoHighLevel). I deliver efficient, creative, and results-driven digital solutions.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://magbanua-pauljhon.website/">
<meta property="og:image" content="/images/OpenGraph_PaulMagbanua.png">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Home | Paul Jhon Magbanua">
<meta name="twitter:description" content="I’m Paul Jhon Magbanua, a Front-End Developer skilled in coding, CMS, automation, and CRM management (GoHighLevel). I deliver efficient, creative, and results-driven digital solutions.">
<meta name="twitter:image" content="/images/OpenGraph_PaulMagbanua.png">

<link rel="canonical" href="https://magbanua-pauljhon.website/">
</head>
